@tailwind base;
@tailwind components;
@tailwind utilities;

.curdtable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.curdtable td, .curdtable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.curdtable tr:nth-child(even){background-color: #f2f2f2;}

.curdtable tr:hover {background-color: #ddd;}

.curdtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.editdata{
    padding: 5px;
    color: black;
    background: yellow;
    margin-right: 10px;
    border-radius: 4px;
}

.deletedata{
    padding: 5px;
    color: white;
    background: red;
    margin-right: 10px;
    border-radius: 4px;
}